[Unit]
Description=A Webhook server to run with Github
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "/home/${USER}/go/bin/webhook -verbose -urlprefix '' -ip '127.0.0.1' -hooks /home/${USER}/webhooks/main/hook.json $(for f in $(ls /home/${USER}/webhooks/hooks/*/hook.json); do echo -n ' -hooks' $f; done)"
Restart=on-failure

[Install]
WantedBy=multi-user.target